#name,#info {
    text-align: center;
    margin: 0;
}

#nav{
    list-style-type: none;
    display: inline;
}

li {
    display: inline;
    float: left;
}

table, th, td{
  padding:5px;
  margin:5px;
}
